<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.amzi.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addUserGroup</servlet-name>
    <servlet-class>com.amzi.servlets.AddUserGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewFriends</servlet-name>
    <servlet-class>com.amzi.servlets.ViewFriendsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>documentSave</servlet-name>
    <servlet-class>com.amzi.servlets.DocumentSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>documentView</servlet-name>
    <servlet-class>com.amzi.servlets.DocumentViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>documentGet</servlet-name>
    <servlet-class>com.amzi.servlets.DocumentGetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>documentAdd</servlet-name>
    <servlet-class>com.amzi.servlets.DocumentAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>saveFriend</servlet-name>
    <servlet-class>com.amzi.servlets.SaveFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>searchUser</servlet-name>
    <servlet-class>com.amzi.servlets.UserSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>calendarSave</servlet-name>
    <servlet-class>com.amzi.servlets.CalendarServletSave</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>signUp</servlet-name>
    <servlet-class>com.amzi.servlets.SignUpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>todolist</servlet-name>
    <servlet-class>com.amzi.servlets.TodolistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>todolistget</servlet-name>
    <servlet-class>com.amzi.servlets.TodolistServletGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>calendar</servlet-name>
    <servlet-class>com.amzi.servlets.CalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveFriend</servlet-name>
    <url-pattern>/saveFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addUserGroup</servlet-name>
    <url-pattern>/addUserGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>documentSave</servlet-name>
    <url-pattern>/documentSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>documentView</servlet-name>
    <url-pattern>/documentViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewFriends</servlet-name>
    <url-pattern>/viewFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>documentGet</servlet-name>
    <url-pattern>/documentGetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>documentAdd</servlet-name>
    <url-pattern>/documentAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchUser</servlet-name>
    <url-pattern>/userSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/signUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>todolist</servlet-name>
    <url-pattern>/todolistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>calendarSave</servlet-name>
    <url-pattern>/calendarServletSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>todolistget</servlet-name>
    <url-pattern>/todolistServletGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>calendar</servlet-name>
    <url-pattern>/calendarServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>